body {
    /* background-image: url(./images/star-4773.gif); */
    background-color: black;
    font-family: "PT Sans", sans-serif;

}

#guide{
    background-color: transparent;
    border: none;
}

#moon {
    display: flex;
    justify-content: end;
       
}


h2{
    color: bisque;
    text-align: center;
}

#middleContent {
    display: flex;
    justify-content: center;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
 
}

a {
    color: bisque;
}
.btn{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}


.topSearch{
    display: block;
    text-align: center;
}

.description {
    text-align: center;
    color: bisque;
}



.weatherForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    border-radius: 20px;
    margin: 10px;
}

#cityBtn {
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#cityBtn:hover{
    background-color: rgb(226, 189, 43);
}
/* 
#bkg{
    background-color: aliceblue;
    opacity: 45%;
    z-index: -999;
    position: absolute;
    width: 40%;
    height: 40%;
    box-shadow: 3px 3px 7px rgb(224, 144, 5);
} */

.card{
    background-image: url(./images/star-4773.gif);
    /* background-color: rgb(182, 188, 194); */
    border-radius: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    color: rgb(243, 234, 234);
    align-items: center;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(226, 226, 238);
}